# environments
venv/
.env

# python cache
__pycache__/
*.py[cod]

# Riot API rules - do not publish player data
match_data.csv
processed_players.txt
players.py

# Data folder - do not publish any contents
data/

# Not ready for publishing
overlay.py
live_predictor.py
